@use "../../functions" as fnc;

.slider {
  width: min(100%, fnc.rem(445));
  @include fnc.breakpoint-up(medium) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--color-white);
    min-height: fnc.rem(300);
    overflow: hidden;
    position: relative;
    cursor: pointer;

    @include fnc.breakpoint-up(medium) {
      min-height: fnc.rem(445);
      border-radius: fnc.rem(15);

      img {
        border-radius: fnc.rem(15);
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: fnc.rem(300);
    opacity: 0;
    transition: all 150ms ease;

    &.active {
      opacity: 1;

      // @include fnc.breakpoint-up(medium) {
      //   img {
      //     border-radius: fnc.rem(15);
      //   }
      // }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__left,
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fnc.rem(40);
    aspect-ratio: 1;
    background-color: var(--color-white);
    border: none;
    border-radius: 50%;
    padding: 0;

    @include fnc.breakpoint-up(medium) {
      visibility: hidden;
    }
  }

  &__left {
    position: absolute;
    left: 5%;
    top: 40%;
  }

  &__right {
    position: absolute;
    right: 5%;
    top: 40%;
  }

  &__thumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(100%, fnc.rem(445));
    margin-top: fnc.rem(30);

    @include fnc.breakpoint-down(small) {
      display: none;
    }
  }

  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fnc.rem(92);
    aspect-ratio: 1;
    border-radius: fnc.rem(10);
    background-color: var(--color-white);
    overflow: hidden;
    padding: 0;
    border: none;
    z-index: 3;

    img {
      transition: opacity 350ms ease;
    }

    &:hover {
      img {
        opacity: 0.25;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &.active {
      outline: fnc.rem(2) solid var(--color-primary-500);

      img {
        opacity: 0.25;
      }
    }
  }
}
