@use "../../functions" as fnc;

.content {
  width: min(100%, fnc.rem(445));
  padding: fnc.rem(22) fnc.rem(24);

  @include fnc.breakpoint-up(medium) {
    padding: 0;
  }
  &__subtitle {
    margin-bottom: fnc.rem(14);
    text-transform: uppercase;
    font-size: clamp(fnc.rem(12), 1.5vw, fnc.rem(14));
    color: var(--color-primary-500);
    letter-spacing: fnc.rem(2);
  }
  &__title {
    font-size: clamp(fnc.rem(28), 4vw, fnc.rem(48));
    color: var(--color-neutral-700);
    line-height: 1.1;
    margin-bottom: fnc.rem(20);
  }
  &__text {
    color: var(--color-neutral-500);
    font-size: clamp(fnc.rem(15), 1.5vw, fnc.rem(16));
    line-height: 1.7;
    margin-bottom: fnc.rem(24);
  }

  &__price_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: fnc.rem(20);

    @include fnc.breakpoint-up(medium) {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: fnc.rem(40);
    }
  }
  &__price_left {
    display: flex;
    align-items: center;
    gap: fnc.rem(16);
  }
  &__price {
    font-size: fnc.rem(30);
    font-weight: 700;
    color: var(--color-neutral-700);
  }
  &__discount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-100);
    font-weight: 700;
    color: var(--color-primary-500);
    padding: fnc.rem(4) fnc.rem(8);
    border-radius: fnc.rem(5);
  }
  &__original_price {
    text-decoration: line-through;
    font-weight: 700;
    color: var(--color-neutral-200);
  }

  //Add to Cart
  &__add_to_cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: fnc.rem(16);

    @include fnc.breakpoint-up(medium) {
      flex-direction: row;
    }
  }
  &__amount_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background-color: var(--color-neutral-100);
    border-radius: fnc.rem(10);

    @include fnc.breakpoint-up(medium) {
      min-width: fnc.rem(156);
    }
  }
  &__amount_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: fnc.rem(20) fnc.rem(24);
  }
  &__amount {
    font-weight: 700;
    color: var(--color-neutral-700);
  }
  &__cart_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: var(--color-primary-500);
    border: none;
    border-radius: fnc.rem(10);
    color: var(--color-neutral-100);
    font-size: fnc.rem(15);
    font-weight: 700;
    padding: fnc.rem(18) 0;
    box-shadow: fnc.rem(0) fnc.rem(12) fnc.rem(16) fnc.rem(11)
      rgba(252, 130, 41, 0.18);

    @include fnc.breakpoint-up(medium) {
      min-width: fnc.rem(272);
    }

    &_icon {
      width: fnc.rem(18);
      height: auto;
      margin-right: fnc.rem(16);
      height: auto;
    }
  }
}
