@use "../../functions" as fnc;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: fnc.rem(68);
  padding-left: fnc.rem(24);
  padding-right: fnc.rem(24);
  position: relative;

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    animation: fade-out 350ms ease forwards;
    visibility: hidden;

    &.open {
      visibility: visible;
      animation: fade-in 350ms ease forwards;
    }
  }

  @keyframes fade-in {
    from {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      visibility: visible;
      opacity: 1;
    }
    99% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__mobile_menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: fnc.rem(250);
    background-color: var(--color-white);
    position: absolute;
    top: fnc.rem(0);
    left: -100%;
    padding-top: fnc.rem(94);
    padding-left: fnc.rem(24);
    z-index: 3;
    transition: all 350ms ease;
    visibility: hidden;

    &.open {
      left: fnc.rem(0);
      visibility: visible;
    }
  }

  &__mobile_links {
    * + * {
      margin-top: fnc.rem(20);
    }
  }

  &__mobile_link {
    a {
      color: var(--color-neutral-700);
      font-weight: 700;
      font-size: fnc.rem(18);
    }
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__toggle {
    justify-self: flex-start;
    background: transparent;
    appearance: none;
    border: none;
    width: fnc.rem(32);
    height: fnc.rem(15);
    padding: 0;
    z-index: 4;

    span {
      display: block;
      background-color: var(--color-neutral-500);
      height: fnc.rem(3);
      width: fnc.rem(16);
      transform-origin: fnc.rem(0);
      transition: all 350ms ease-in-out;
      z-index: 1;

      &:not(:last-child) {
        margin-bottom: fnc.rem(3);
      }
    }

    &.open {
      span {
        border-radius: fnc.rem(3);

        &:first-child {
          transform: rotate(48deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-48deg);
        }
      }
    }
  }

  &__logo {
  }

  &__links {
  }

  &__link {
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: fnc.rem(22);
  }

  &__cart {
    background: transparent;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;

    svg path {
      fill: var(--color-neutral-700);
    }
  }

  &__cart_count {
    position: absolute;
    top: fnc.rem(-3);
    right: fnc.rem(0);
    width: fnc.rem(19);
    background-color: var(--color-primary-500);
    color: var(--color-white);
    font-size: fnc.rem(10);
    font-weight: 700;
    padding: fnc.rem(1) fnc.rem(6);
    border-radius: fnc.rem(6);
  }

  &__profile_pic {
    img {
      width: fnc.rem(24);
      height: auto;
    }
  }
}

.cart {
  position: absolute;
  top: fnc.rem(76);
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  flex-direction: column;
  width: 96%;
  background-color: var(--color-white);
  border: 1px solid red; // remove
  border-radius: fnc.rem(10);
  padding: fnc.rem(24) fnc.rem(25) fnc.rem(32);

  hr {
    margin: fnc.rem(24) fnc.rem(-25);
  }

  &__header {
    font-weight: 700;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: fnc.rem(24);
  }
  &__image {
    width: fnc.rem(50);
    aspect-ratio: 1;
    border-radius: fnc.rem(5);
  }

  &__text {
  }

  &__item_name {
  }

  &__item_price {
    &_singular {
    }
    &_multiplier {
    }
    &_total {
    }
  }
  &__item_delete {
  }
  &__checkout {
  }
}
