@use "../../functions" as fnc;

//Animations
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  1% {
    visibility: visible;
    opacity: 0;
    display: flex;
  }
  to {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
  99% {
    visibility: visible;
    opacity: 0;
    display: flex;
  }
  to {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(100%, fnc.rem(1110));
  min-height: fnc.rem(68);
  margin: 0 auto;
  padding-left: fnc.rem(24);
  padding-right: fnc.rem(24);
  position: relative;

  @include fnc.breakpoint-up(medium) {
    min-height: fnc.rem(112);
    border-bottom: 1px solid var(--color-neutral-200);
  }

  @include fnc.breakpoint-up(large) {
    padding: 0;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    animation: fade-out 350ms ease forwards;
    visibility: hidden;

    &.open {
      visibility: visible;
      animation: fade-in 350ms ease forwards;
    }
  }

  &__mobile_menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: fnc.rem(250);
    background-color: var(--color-white);
    position: absolute;
    top: fnc.rem(0);
    left: -100%;
    padding-top: fnc.rem(94);
    padding-left: fnc.rem(24);
    z-index: 3;
    transition: all 350ms ease;
    visibility: hidden;

    @include fnc.breakpoint-up(medium) {
      display: none;
    }

    &.open {
      left: fnc.rem(0);
      visibility: visible;
    }
  }

  &__mobile_links {
    * + * {
      margin-top: fnc.rem(20);
    }
  }

  &__mobile_link {
    a {
      color: var(--color-neutral-700);
      font-weight: 700;
      font-size: fnc.rem(18);
    }
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__toggle {
    justify-self: flex-start;
    background: transparent;
    appearance: none;
    border: none;
    width: fnc.rem(32);
    height: fnc.rem(15);
    padding: 0;
    z-index: 4;

    span {
      display: block;
      background-color: var(--color-neutral-500);
      height: fnc.rem(3);
      width: fnc.rem(16);
      transform-origin: fnc.rem(0);
      transition: all 350ms ease-in-out;
      z-index: 1;

      &:not(:last-child) {
        margin-bottom: fnc.rem(3);
      }
    }

    &.open {
      span {
        border-radius: fnc.rem(3);

        &:first-child {
          transform: rotate(48deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-48deg);
        }
      }
    }
  }

  &__logo {
    margin-right: fnc.rem(54);
  }

  &__links {
    * + * {
      margin-left: fnc.rem(32);
    }
  }

  &__link {
    display: inline-block;
    & a {
      color: var(--color-neutral-500);
      transition: color 350ms ease;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: fnc.rem(-45);
        left: 0;
        width: 100%;
        height: fnc.rem(4);
        background-color: var(--color-primary-500);
        transition: opacity 350ms ease;
        opacity: 0;
      }

      &:hover {
        color: var(--color-black);

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: fnc.rem(22);
  }

  &__cart {
    background: transparent;
    appearance: none;
    border: none;
    cursor: pointer;
    position: relative;

    svg {
      path {
        transition: all 350ms ease;
        fill: var(--color-neutral-500);
      }
    }

    &:hover {
      svg path {
        fill: var(--color-neutral-700);
      }
    }
  }

  &__cart_count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: fnc.rem(-3);
    right: fnc.rem(0);
    width: fnc.rem(19);
    background-color: var(--color-primary-500);
    color: var(--color-white);
    font-size: fnc.rem(10);
    font-weight: 700;
    padding: fnc.rem(1) fnc.rem(6);
    border-radius: fnc.rem(6);
  }

  &__profile_pic {
    img {
      display: block;
      width: fnc.rem(26);
      aspect-ratio: 1;
      border-radius: 50%;
      border: 2px solid transparent;
      transition: all 350ms ease;

      @include fnc.breakpoint-up(medium) {
        width: fnc.rem(52);
      }

      &:hover {
        border: 2px solid var(--color-primary-500);
      }
    }
  }
}

.cart {
  position: absolute;
  top: fnc.rem(76);
  right: fnc.rem(7);
  // display: none;
  flex-direction: column;
  width: 96%;
  min-height: fnc.rem(256);
  background-color: var(--color-white);
  border-radius: fnc.rem(10);
  padding: fnc.rem(24) fnc.rem(25) fnc.rem(32);
  visibility: hidden;
  animation: fade-out 350ms ease forwards;
  box-shadow: 0px 15px 25px 3px rgba(0, 0, 0, 0.14);
  z-index: 4;

  @include fnc.breakpoint-up(medium) {
    max-width: fnc.rem(360);
    top: fnc.rem(92);
    right: 10%;
  }

  @include fnc.breakpoint-up(large) {
    transform: translatex(50%);
  }
  &.open {
    display: flex;
    visibility: visible;
    animation: fade-in 350ms ease forwards;
  }

  hr {
    margin: fnc.rem(24) fnc.rem(-25);
    border-color: var(--color-neutral-100);
  }

  &__bottom {
    min-height: fnc.rem(130);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  &__header {
    font-weight: 700;
  }

  &__empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--color-neutral-500);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: fnc.rem(24);
  }
  &__image {
    width: fnc.rem(50);
    aspect-ratio: 1;
    border-radius: fnc.rem(5);
    margin-right: fnc.rem(16);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: fnc.rem(10);
  }

  &__item_name {
    max-width: fnc.rem(210);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-neutral-500);
  }

  &__item_price {
    display: flex;
    gap: fnc.rem(5);
    &_singular {
      color: var(--color-neutral-500);
    }
    &_multiplier {
      color: var(--color-neutral-500);
    }
    &_total {
      font-weight: 700;
    }
  }
  &__item_delete {
    background: transparent;
    border: none;
    appearance: none;
    display: flex;
    justify-content: flex-end;
    margin-left: fnc.rem(16);
    padding: 0;
  }
  &__checkout {
    width: 100%;
    height: fnc.rem(56);
    background-color: var(--color-primary-500);
    border: none;
    border-radius: fnc.rem(10);
    color: var(--color-primary-100);
    font-weight: 700;
    font-size: fnc.rem(15);
  }
}
