@use "./functions" as fnc;

:root {
  //Primary
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  //Neutral
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%); //(with 75% opacity for lightbox background)

  //Colors
  --color-primary-500: var(--orange);
  --color-primary-100: var(--pale-orange);

  --color-neutral-700: var(--very-dark-blue);
  --color-neutral-500: var(--dark-grayish-blue);
  --color-neutral-200: var(--grayish-blue);
  --color-neutral-100: var(--light-grayish-blue);

  //Typography
  --font-base-size: fnc.rem(16);
  --font: "Kumbh Sans", sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-family: var(--font);
  font-size: var(--font-base-size);
}

a,
a:hover,
a:active {
  text-decoration: none;
}

//Visibility
.hide-for-mobile {
  //hide for tablet or mobile
  @include fnc.breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //hide for desktop or laptop
  @include fnc.breakpoint-up(large) {
    display: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

// img {
//   display: block;
// }
